<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express 基礎驗收</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>

  <!-- navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">回到首頁</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}

  <!-- include javascript files here -->
  <script src="/javascript/popper.js"></script>
  <script src="/javascript/jquery-3.6.0.min.js"></script>
  <script src="/javascript/bootstrap.js"></script>

</body>

</html>